{% extends '@PrestaShop/Admin/layout.html.twig'%}

{% block content %}
 <h3 class="d-inline-block card-header-title">
                      
                        </h3>
 
       {% include '@Modules/stockmanagement/views/templates/twig/layouts/navbar.html.twig' %}  
  {% include '@Modules/stockmanagement/views/templates/twig/layouts/alert.html.twig' %}  

  <div class="card-body">
   <table class="grid-table js-grid-table table" style="width: 100%;" id="order_grid_table">
    <thead class="thead-default" >
        <tr class="column-headers">
            <th scope="col" style="width: 15%;">id_produit</th>
            <th scope="col" style="width: 15%;">id_product_attribute</th>
            <th scope="col" style="width: 25%;">reference</th>
            <th scope="col" style="width: 15%;">quantity hattaa</th>
            <th scope="col" style="width: 15%;">quantity Exagoal</th>
            <th scope="col" style="width: 15%;">Total</th>
        </tr>
    </thead>   
    <tbody> 
        {% for result in results %}
        <tr class="column-filters">
            <td>{{ result.id_product }}</td>
            <td>{{ result.id_product_attribute }}</td>
            <td>{{ result.reference }}</td>
            <td>{{ result.quantity_stock_hattaa}}</td>
            <td>{{ (result.quantity_stock_available|default(0)|intCast) - (result.quantity_stock_hattaa|default(0)|intCast) }}</td>
            <td>{{ result.quantity_stock_available }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

     <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {# First page link #}
        {% if currentPage > 1 %}
            <li class="page-item"><a class="page-link" href="?page=1&_token={{app.request.query.get('_token')}}"><<</a></li>
        {% endif %}

        {# Previous page link #}
        {% if currentPage > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ currentPage - 1 }}&_token={{app.request.query.get('_token')}}"><</a></li>
        {% endif %}

        {# Next page link #}
        {% if currentPage < (totalCount // perPage + 1) %}
            <li class="page-item"><a class="page-link" href="?page={{ currentPage + 1 }}&_token={{app.request.query.get('_token')}}">></a></li>
        {% endif %}

        {# Last page link #}
        {% if currentPage < (totalCount // perPage + 1) %}
            <li class="page-item"><a class="page-link" href="?page={{ totalCount // perPage + 1 }}&_token={{app.request.query.get('_token')}}">>></a></li>
        {% endif %}
    </ul>
</nav>
    </div>
{% endblock %}
