                       
<div class="card card-kpis">
     <div class="kpi-row">




   <a href="{{path('virtualstock')}}" id="box-carts" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">dashboard</i>
            <span class="title">Consulter le stock</span>
    <div class="kpi-description">
      <div class="subtitle"><button type="button" class="btn btn-link"><a href="{{path('virtualstock')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </a>            



  <div id="box-conversion-rate" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">edit</i>
            <span class="title">Modifier stock hattaa</span>
    <div class="kpi-description">
      <div class="subtitle">
<button type="button" class="btn btn-link"><a href="{{path('update_stock_hattaa')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>





 


              



  <div id="box-average-order" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">explore</i>
            <span class="title">exporter le stock</span>
    <div class="kpi-description">
      <div class="subtitle"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
  Exporter 
</button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>


              



  <div id="box-net-profit-visit" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">account_box</i>
            <span class="title">Marge nette par visiteur</span>
    <div class="kpi-description">
        <div class="subtitle"><button type="button" class="btn btn-link"  ><a href="{{path('getLogContent')}}">
  Logs </a>
</button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>


          </div>

        <div class="kpi-refresh">
      <button class="refresh-kpis btn btn-primary" type="button">
        <i class="material-icons">refresh</i>
      </button>
    </div>
</div>
   
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exporter Excel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Veuillez indiquer quel stock à Exporter 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ><a href="{{ path('export_stock', {'type': 1}) }}">Exporter tous </a></button>
        <button type="button" class="btn btn-primary"><a style="color: white" href="{{ path('export_stock', {'type': 2}) }}">Exporter que stock hattaa</a></button>
      </div>
    </div>
  </div>
</div>